
<div class="footerButtonContainer">
    <a class="NavLink" href="MicrosoftIdentity/Account/SignOut">
        <button class="footerButton">Log out</button>
    </a>

    <NavLink class="NavLink" href="policySelect" Match="NavLinkMatch.All">
        <button class="footerButton">Back to My Policies</button>
    </NavLink>
</div>
