 <!--Nsure Client Portal logo-->
<div class="companyLogo">

    <div class="logoText">
        <span class="companyLogoN">N</span>
        <span class="companyLogoSure">sure</span>
    </div>

    <div class="companyLogoCPBG">
        <p class="companyLogoCP">
            Client Portal
        </p>
    </div>
</div>