
<div class="policyButtonSection">

    <NavLink class="NavLink policyButton" href="documents" Match="NavLinkMatch.All">
        <img src="/images/docs.png" class="docsIcon" />
        <span class="inter14Green">View Documents</span>
    </NavLink>

    <NavLink class="NavLink policyButton" href="lifeMAC" Match="NavLinkMatch.All">
        <img src="/images/edit.png" class="editIcon" />
        <span class="inter14Green">Make a Change</span>
    </NavLink>

    <NavLink class="NavLink policyButton" href="paymentSummary" Match="NavLinkMatch.All">
        <img src="/images/payments.png" class="paymentIcon" />
        <span class="inter14Green">My Payments</span>
    </NavLink>

</div>