@page "/myCar"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->

    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="policyContainer">

        <div style="padding-top: 27px" class="myCarSummary">
            <img class="myHomeGif invisibleMobile" src="/images/mustang.gif" alt="House" />

            <div class="policySelectWhiteBox invisibleMobile">
                <span class="readex40 invisibleMobile">JH12 JSH</span>
            </div>
        </div>

        <div class="policyContainerWhiteBox">

            <table class="dateTable">
                <tr>
                    <th class="inter14Green">Start date</th>
                    <td class="inter14">22 September 2023</td>
                </tr>
                <tr>
                    <th class="inter14Green">Renewal date</th>
                    <td class="inter14">22 September 2024</td>
                </tr>
            </table>

            <table class="summaryTable">
                <tr class="topRow">
                    <th class="inter14Green fontMobile">Registration</th>
                    <td class="inter14 fontMobile">JH12 JSH</td>

                    <th class="inter14Green fontMobile">Make/Model</th>
                    <td class="inter14 fontMobile">Ford Mustang</td>

                    <th class="inter14Green fontMobile">Excess</th>
                    <td class="inter14 fontMobile">£500</td>
                </tr>
                <tr class="bottomRow">
                    <th class="inter14Green fontMobile">No Claims Bonus</th>
                    <td class="inter14 fontMobile">4 Years</td>

                    <th class="inter14Green fontMobile">Address</th>
                    <td class="inter14 fontMobile" colspan="3">23 Links Road, Kennington, Oxford</td>
                </tr>
            </table>

            <NsureProject.Components.PolicySummaryButtonsCar>

            </NsureProject.Components.PolicySummaryButtonsCar>

        </div>

    </div>
</div> <!--Generic Frame used for all pages: FrameEND -->

<footer class="stickyFooter">
    <NsureProject.Components.FooterButtons>

    </NsureProject.Components.FooterButtons>
</footer>