@page "/myHome"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->

    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="policyContainer">

        <div class="mySummary">
            <img class="myHomeGif invisibleMobile" src="/images/home.gif" alt="House" />

            <div class="policySelectWhiteBox invisibleMobile">
                <span class="readex40 invisibleMobile">OX1 5RX</span>
            </div>
        </div>

        <div class="policyContainerWhiteBox">

            <table class="dateTable">
                <tr>
                    <th class="inter14Green">Start date</th>
                    <td class="inter14">22 September 2023</td>
                </tr>
                <tr>
                    <th class="inter14Green">Renewal date</th>
                    <td class="inter14">22 September 2024</td>
                </tr>
            </table>

            <table class="summaryTable">
                <tr class="topRow">
                    <th class="inter14Green fontMobile">Cover Type</th>
                    <td class="inter14 fontMobile">Contents</td>

                    <th class="inter14Green fontMobile">Sum Insured</th>
                    <td class="inter14 fontMobile">£100,000</td>

                    <th class="inter14Green fontMobile">Excess</th>
                    <td class="inter14 fontMobile">£5,000</td>
                </tr>
                <tr class="bottomRow">
                    <th class="inter14Green fontMobile">Tier</th>
                    <td class="inter14 fontMobile">Platinum Cover</td>

                    <th class="inter14Green fontMobile">Address</th>
                    <td class="inter14 fontMobile" colspan="3">23 Links Road, Kennington, Oxford</td>
                </tr>
            </table>

            <NsureProject.Components.PolicySummaryButtonsHome>

            </NsureProject.Components.PolicySummaryButtonsHome>

        </div>

    </div>
</div> <!--Generic Frame used for all pages: FrameEND -->

<footer class="stickyFooter">
    <NsureProject.Components.FooterButtons>

    </NsureProject.Components.FooterButtons>
</footer>