@page "/myLife"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->

    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="policyContainer">

        <div class="mySummary">
            <img class="myHomeGif mySummaryHomeGif invisibleMobile" src="/images/hospital.gif" alt="House" />

            <div class="policySelectWhiteBox invisibleMobile">
                <span class="readex40 invisibleMobile">Simon Smith</span>
            </div>
        </div>

        <div class="policyContainerWhiteBox">

            <table class="dateTable">
                <tr>
                    <th class="inter14Green">Start date</th>
                    <td class="inter14">22 September 2023</td>
                </tr>
                <tr>
                    <th class="inter14Green">Renewal date</th>
                    <td class="inter14">22 September 2024</td>
                </tr>
            </table>

            <table class="summaryTable">
                <tr class="topRow">
                    <th class="inter14Green">Cover Type</th>
                    <td class="inter14">Accident & Sickness</td>

                    <th class="inter14Green">Benefit Amount</th>
                    <td class="inter14">£25,000</td>

                    <th class="inter14Green">Benefit Period</th>
                    <td class="inter14">30 Days</td>
                </tr>
                <tr class="bottomRow">
                    <th class="inter14Green">Tier</th>
                    <td class="inter14">Gold Cover</td>

                    <th class="inter14Green">Basis of Advice</th>
                    <td class="inter14" colspan="3">Medical History, GP Reccomendation</td>
                </tr>
            </table>

            <NsureProject.Components.PolicySummaryButtonsLife>

            </NsureProject.Components.PolicySummaryButtonsLife>

        </div>

    </div>
</div> <!--Generic Frame used for all pages: FrameEND -->

<NsureProject.Components.FooterButtons>

</NsureProject.Components.FooterButtons>