@page "/documents"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="docsGreyBox">

        <div class="docsTitle readex32">Documents for your policy:</div>

        <div class="docsWhiteBox">

            <table class="docsTable">

                <tbody class="docsTableBody">
                    <tr>
                        <th class="inter14Green fontMobile">Policy Schedule </th>
                        <td class="inter14 fontMobile">22/09/23</td>
                        <td class="pressToView inter14 fontMobile"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Proposal Confirmation </th>
                        <td class="inter14 fontMobile">08/12/23</td>
                        <td class="pressToView inter14 fontMobile"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Renewal Invitation  </th>
                        <td class="inter14 fontMobile">22/02/23</td>
                        <td class="pressToView inter14 fontMobile"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">General Documents: </th>
                        <td class="inter14 fontMobile">Policy Booklet<br />Insurance Product Information Document<br />Claim Information Flyer</td>
                        <td class="pressToView inter14 fontMobile"> Press to view <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                </tbody>

            </table>

            <div class="disclaimer inter14 fontMobile">
                All documents can be requested in large print or Braille, please contact us at
                <span class="inter14Red fontMobile">01234 567 890</span> or by email at
                <span class="inter14Red fontMobile">support@Nsure.co.uk</span>
            </div>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

<footer style="position: sticky;">
    <NsureProject.Components.FooterButtonsBack>

    </NsureProject.Components.FooterButtonsBack>
</footer>