@page "/paymentSummary"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="paymentGreyBox">

        <div class="paymentHeader">
            <div class="paymentTitle readex32">Your Recent Payments:</div>
            <button class="paymentButton fontMobile">Update Payment Card</button>
        </div>

        <div class="paymentWhiteBox">

            <table class="paymentTable">

                <tbody class="paymentTableBody">
                    <tr class="paymentTableTitle">
                        <th class="inter14Grey fontMobile">Date</th>
                        <th class="inter14Grey fontMobile">Payment Method</th>
                        <th class="inter14Grey fontMobile">Amount</th>
                    </tr>
                    <tr>
                        <td class="inter14 fontMobile">20/05/2024</td>
                        <td class="inter14 fontMobile">Card Ending 1234</td>
                        <td class="inter14 fontMobile">£13.00</td>
                    </tr>
                    <tr>
                        <td class="inter14 fontMobile">08/12/2023</td>
                        <td class="inter14 fontMobile">Card Ending 1234</td>
                        <td class="inter14 fontMobile">£5.50</td>
                    </tr>
                    <tr>
                        <td class="inter14 fontMobile">03/12/2023</td>
                        <td class="inter14 fontMobile">Card Ending 1234</td>
                        <td class="inter14 fontMobile">£156.43</td>
                    </tr>
                    <tr>
                        <td class="inter14 fontMobile">01/12/2023</td>
                        <td class="inter14 fontMobile">Card Ending 1234</td>
                        <td class="inter14 fontMobile">£5.50</td>
                    </tr>
                    <tr>
                        <td class="inter14 fontMobile">24/09/2023</td>
                        <td class="inter14 fontMobile">Card Ending 1234</td>
                        <td class="inter14 fontMobile">£1050.86</td>
                    </tr>
                </tbody>

            </table>

            <div class="disclaimer inter14 fontMobile">
                These figures are <strong>not</strong> proof of payment. For any enquiries regarding payments, please contact us at
                <span class="inter14Red fontMobile">Accounts@Nsure.co.uk</span>
            </div>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

<footer class="stickyFooter">
    <NsureProject.Components.FooterButtonsBack>

    </NsureProject.Components.FooterButtonsBack>
</footer