@page "/carMAC"

<div class="frame">
    <!--Generic Frame used for all pages: FrameSTART -->


    <NsureProject.Components.Logo>

    </NsureProject.Components.Logo>

    <div class="MACGreyBox">

        <div class="changeTitle readex32">What would you like to change?</div>

        <div class="MACWhiteBox">

            <table class="toChange">

                <tbody class="toChangeBody">
                    <tr>
                        <th class="inter14Green fontMobile">Address: </th>
                        <td class="inter14 fontMobile">23 Links Road, Kennington, Oxford, OX1 5RX</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Tier of Cover: </th>
                        <td class="inter14 fontMobile">Gold (Mid Tier)</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Registration: </th>
                        <td class="inter14 fontMobile">JH12 JSH</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Make/Model: </th>
                        <td class="inter14 fontMobile">FORD Mustang EcoBoost 2.3L</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Modifications: </th>
                        <td class="inter14 fontMobile">None Listed</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                    <tr>
                        <th class="inter14Green fontMobile">Annual Mileage: </th>
                        <td class="inter14 fontMobile">6,000 Miles</td>
                        <td class="pressToChange inter14 fontMobile"> Press to change <span class="oi oi-chevron-right" aria-hidden="true"></span></td>
                    </tr>
                </tbody>

            </table>

            <div class="disclaimer inter14 fontMobile">
                If you wish to discuss any of these options with us personally, please contact us at
                <span class="inter14Red fontMobile">01234 567 890</span> or by email at
                <span class="inter14Red fontMobile">support@Nsure.co.uk</span>
            </div>

        </div>

    </div>

</div> <!--Generic Frame used for all pages: FrameEND -->

<footer style="position: sticky;">
    <NsureProject.Components.FooterButtonsBack>

    </NsureProject.Components.FooterButtonsBack>
</footer>